
body {
    font-family: Roboto, 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: #e5dad6;

}

.top {
    background-color: #071a2b;
    color: white;
    padding: 20px 200px;
    
}

.header {
    background-color: #071a2b;
    color: white;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;

}

img[src="images/lecarterlogo.png"] {
    width: 200px;
    margin-right: auto;

}
    

a:link, a:visited {
    text-decoration: none;
    color: white;
  }

a:hover, a:active {
    text-decoration: underline;
  }
  

.intro {
    display: flex;
    align-items: center;
    flex: 1;
}

.intro1 button {
    background-color: #eab246;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px;
    transition-duration: 0.4s;
    width: 200px;
    padding: 10px;
}

.intro1 button:hover, button:active {
    background-color: #a88471;
}

img[src="images/sqbookimage.png"] {
    width: 300px;
    margin-left: auto;
    align-self: stretch;
    padding-left: 30px;

}

.about {
    padding: 30px 200px;
    text-align: center;
}

.catalog {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    gap: 30px;
}

.graphics {

}

.catalog img {
    width: 200px;
    border-radius: 10px;
}

.quote {
    background-color: #a88471;
    padding: 20px 200px;
    text-align: right;
}

h3 {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctabox {
    background-color: #7098c3;
    color: white;
    display: flex;
    max-width: 800px;
    flex: 1;
    padding: 30px 100px;
    margin: 50px 0px;
    align-items: center;
    gap: 30px;
}


.ctabox button {
    background-color: #7098c3;
    color: white;
    border: 2px solid white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 6px;
    transition-duration: 0.4s;
    width: 200px;
    padding: 10px;
    margin-left: auto;
    
}

.ctabox button:hover, button:active {
    background-color: #a88471;

}

.footer {
    background-color: #071a2b;
    color: white;
    display: flex;
    justify-content: space-evenly;
}